<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>About us - SFSU Software Engineering Project CSC 648-848, Summer 2020. For Demonstration Only</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/style.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- navigation bar -->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="template.php"><img src="images/myLogo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="template.php">HOME<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="about.html">ABOUT <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#"></a>
                    <a class="nav-item nav-link" href="#"></a>
                </div>
            </div>
        </nav>
    </section>

    <!-- banner -->
    <section id="banner_abt">
        <div class="col-md-15">
            <div class="container">
                <div class="container-xl">
                    <h2 class="text-center text-justify"> About Us - Summer 2020 Software Engineering: Team 03 </h2>
                </div>
            </div>
        </div>
    </section>


    <!-- team bio -->
    <section id="info">

        <div class="container-fluid p-3">
            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <br></br>
                <h2>Who we are</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Our team possesses useful insight necessary to craft an effective solution as we are composed of current students at San Francisco State University. Unlike our competitors, our application is designed with our users in mind from the beginning
                    to the end. We know firsthand what the pain points are to get to and from the San Francisco State campus and we’ve learned how to overcome them. Our desire is to develop a simple, easy to use application with an exceptional user experience.
                    GatorHub will not only impact individuals; it will also foster a greater sense of community at San Francisco State.</p>


                <!-- Team Members -->
                <div class="card-deck mx-auto" style="width: 710px;">
                    <div class="card">
                        <img class="card-img-top" src="images/Meg1.png" alt="megha_img">
                        <div class="card-body">
                            <h5 class="card-title"><a class="nav-item nav-link" href="meghababariya.html">Megha Babariya</a></h5>
                            <p class="card-text text-dark">Team Lead</p>

                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="images/Abraham_Zepeda.jpg" alt="abraham_img">
                        <div class="card-body">
                            <h5 class="card-title">
                                <h5 class="card-title"><a class="nav-item nav-link" href="abrahamzepeda.html">Abraham Zepeda</a></h5>
                            </h5>
                            <p class="card-text text-dark">GitHub Master</p>
                        </div>
                    </div>
                </div>

                <br></br>
                <br></br>

                <div class="card-deck mx-auto" style="width: 700px;">
                    <div class="card">
                        <img class="card-img-top" src="images/Nathalia_Sainez.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"> <a class="nav-item nav-link" href="nathaliasainez.html">Nathalia Sainez</a></h5>
                            <p class="card-text text-dark">Front-end Lead</p>

                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="images/Harsh_Saxena.jpg" alt="harsh_img">
                        <div class="card-body">
                            <h5 class="card-title"><a class="nav-item nav-link" href="harshsaxena.html">Harsh Saxena</a></h5>
                            <p class="card-text text-dark">Back-end</p>
                        </div>
                    </div>
                </div>

                <br></br>
                <br></br>

                <div class="card-deck mx-auto" style="width: 700px;">
                    <div class="card">
                        <img class="card-img-top" src="images/taniaNemethcopy.jpg" alt="tania_img">
                        <div class="card-body">
                            <h5 class="card-title"><a class="nav-item nav-link" href="tanianemeth.html">Tania Nemeth</a></h5>
                            <p class="card-text text-dark"> Back-end Team Member </p>

                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="images/Raymond_Kuang.jpg" alt="raymond_img">
                        <div class="card-body">
                            <h5 class="card-title"><a class="nav-item nav-link" href="raymondkuang.html">Raymond Kuang</a></h5>
                            <p class="card-text text-dark"> Back-end Team Member </p>
                        </div>
                    </div>
                </div>

                <br></br>
                <br></br>

                <div class="card-deck mx-auto" style="width: 350px;">
                    <div class="card">
                        <img class="card-img-top" src="images/Yaxin.jpg" alt="yaxin_img">
                        <div class="card-body">
                            <h5 class="card-title"><a class="nav-item nav-link" href="yaxindeng.html">Yaxin Deng</a></h5>
                            <p class="card-text text-dark"> Front-end Team Member </p>

                        </div>
                    </div>
                </div>
            </div>
    </section>


    <!-- Footer -->
    <footer class="page-footer font-small text-center">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 GatorHub</div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <!-- Script Tags -->
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>