<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>About us - SFSU Software Engineering Project CSC 648-848, Summer 2020. For Demonstration Only</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- navigation bar -->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="about.php"><img src="/images/myLogo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="about.php">ABOUT <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#"></a>
                    <a class="nav-item nav-link" href="#"></a>
                    <a class="nav-item nav-link" href="#"></a>
                </div>
            </div>
        </nav>
    </section>

    <!-- banner -->
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-15">
                    <div class="container">
                        <img id="personal_photo" src="/images/Abraham_Zepeda.jpg">
                        <div class="container__text">
                            <h1>Abraham Zepeda</h1>
                            <p class="text-justify description">Student at San Francisco State University</p>
                            <p class="git"><a href="https://github.com/abezepeda" target="_blank">Github: abezepeda </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- bio -->
    <section id="info">
        <div class="container-fluid p-3">
            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Biography</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Interested and currently working in computer algorithms for control systems applications and integration of embedded systems into manufacturing facilities in Chevron's oil refining facility in Richmond, CA.</p>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Education</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Bachelors in Physics<br>UC Berkeley<br>2016</p>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Experience</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Process Controls Engineer at Chevron <br>Richmond, CA<br>May, 2016 - current<br></br>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Skills</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Matlab Simulink and Algorithms<br>Data Structures<br>Physics<br>Java<br>Azure<br>Process Controls<br></br>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Interests</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Software Development<br>Robotics<br>Automation</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small text-center">

        <!-- email -->
        <div class="email">
            <a href="mailto:mbabariya@mail.sfsu.edu?subject = Feedback&body = Message">
      azepeda@mail.sfsu.edu
    </a>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 GatorHub
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- Script Tags -->
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>