<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>About us - SFSU Software Engineering Project CSC 648-848, Summer 2020. For Demonstration Only</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- navigation bar -->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="about.php"><img src="/images/myLogo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="about.php">ABOUT <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#"></a>
                    <a class="nav-item nav-link" href="#"></a>
                    <a class="nav-item nav-link" href="#"></a>
                </div>
            </div>
        </nav>
    </section>

    <!-- banner -->
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-15">
                    <div class="container">
                        <img id="personal_photo" src="/images/Meg.jpg">
                        <div class="container__text">
                            <h1>Megha Babariya</h1>
                            <p class="text-justify description">Student at San Francisco State University</p>
                            <p class="git"><a href="https://github.com/Megha1005" target="_blank">Github: Megha1005 </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- bio -->
    <section id="info">
        <div class="container-fluid p-3">
            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Biography</h2>
            </div>
            <div id="inner" class="text-center">
                <p>I am a Computer enthusiast and deeply interested in learning new progresses in Software Development. I like to explore the unexplored areas of human interaction with computing and machines that inspires me to create technologies that can
                    benefit a huge community. As my journey continues in acquiring knowledge in computer and related technologies, I am confident to acquire my goals.</p>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Education</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Master's in Computer Science<br>San Francisco State University<br>Spring 2020 - Fall 2021</p>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Experience</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Software Engineer at Infosys <br>INDIA<br>Oct, 2017 - Nov, 2019<br></br>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Skills</h2>
            </div>
            <div id="inner" class="text-center">
                <p>ReactJS <br>NodeJS<br>Python<br>Java<br>Database(MongoDB,MySQL) <br>EBS Suite<br></br>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Interests</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Web Development<br>Machine Learning<br>Data Science</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small text-center">

        <!-- email -->
        <div class="email">
            <a href="mailto:mbabariya@mail.sfsu.edu?subject = Feedback&body = Message">
      mbabariya@mail.sfsu.edu
    </a>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 GatorHub
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- Script Tags -->
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>