<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>About us - SFSU Software Engineering Project CSC 648-848, Summer 2020. For Demonstration Only</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- navigation bar -->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="about.php"><img src="/images/myLogo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="about.php">ABOUT <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#"></a>
                    <a class="nav-item nav-link" href="#"></a>
                    <a class="nav-item nav-link" href="#"></a>
                </div>
            </div>
        </nav>
    </section>

    <!-- banner -->
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-15">
                    <div class="container">
                        <img id="personal_photo" src="/images/Yaxin.jpg">
                        <div class="container__text">
                            <h1> Yaxin Deng</h1>
                            <p class="text-justify description">Student at San Francisco State University</p>
                            <p class="git text-center"><a href="https://github.com/ValorieV" target="_blank">Github: ValorieV </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- bio -->
    <section id="info">
        <div class="container-fluid p-3">
            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Biography</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Computer Science senior student who is gonna be a software engineer for a while.</p>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Education</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Bachelor of Computer Science<br>San Francisco State University<br>Jan, 2019 - Aug, 2020</p>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Experience</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Web Developer Intern at Showmarketpro.com<br>USA<br>May, 2018 - July, 2019<br></br>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Skills</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Java<br>C++<br>Python<br>Swift<br>SQL<br>iOS<br></br>
            </div>

            <div id="outer" class="container d-flex align-items-center justify-content-center">
                <h2>Interests</h2>
            </div>
            <div id="inner" class="text-center">
                <p>Software Development<br>Human-Computer Interaction<br>Data Base Management</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small text-center">

        <!-- email -->
        <div class="email">
            <a href="mailto:mbabariya@mail.sfsu.edu?subject = Feedback&body = Message">
      yaxindeng@mail.sfsu.edu
    </a>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 GatorHub
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- Script Tags -->
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>