/* * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    /* background-image: linear-gradient(to right, #636359, #5f5f5f); */


/* padding: 5 !important; */


/* }
.navbar-brand img {
    height: 60px;
    padding-left: 30px;
}
.navbar-nav li {
    padding: 0 10px;
    text-align: left;
    float: right;
}
.navbar-nav a {
    color: #fff !important;
    font-weight: 600;
    text-align: left;
    float: right;
}
#banner a {
    color: white;
}
.git {
    padding-left: 360px;
}
.fa-bars {
    color: #ffff;
    font-size: 40px !important;
}
#banner {
    padding-top: 0%;
    padding: 60px;
}
.description {
    padding-left: 250px;
    padding-bottom: 30px;
    color: #5F5B80; */


/* }
.container {
    padding: 20px 40px 30px;
    display: flex;
}
#personal_photo {
    border: 5px solid #5F5B80;
    position: relative;
    left: 150px;
}
h1 {
    padding-left: 270px;
    padding-top: 90px;
    color: #5F5B80;
}
.page-footer {
    padding: 15px; */


/* background-color: #87877c; */


/*     
    position: relative;
    width: 100%;
}
.container-fluid {
    background-color: lightgray;
}
h2 {
    color: #5F5B80;
}
.email a {
    color: #5F5B80;
}
#banner_abt { */


/* background-image: linear-gradient(to right, #87877c, #5f5f5f); */


/* padding: 10px;
}
p {
    color: #5F5B80;
    text-align: center;
    padding-bottom: 110px;
}
h6 {
    color: #5F5B80;
    padding-bottom: 50px;
}
.copyright {
    color: #ffff;
}
.card-body {
    color: #ffff; */


/* }
.card-title,
.card-header,
.text-muted {
    color: black;
}
.card-body {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}
.card-img-top {
    width: 40%;
    height: 15vw;
    object-fit: cover;
}
.card-text {
    color: black;
} */
